/*splash*/

#splash {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:100vh;
}

#splashBtn {
	width: 140px;
	margin: 20px 0 60px 0;
	padding: 5px;
	text-align: center;
	background-color: #885541;
	color: #ffffff;
	font-weight: 600;
	font-size: 30px;
	border: none;
}

#credits {
	color: #885541;
	font-size: 25px;
	line-height: 120%;
}


/* title */
body {
	font-family: "Goudy Oldstyle Std" ,"Times New Roman", serif;
	/*font-weight: light;*/
	min-height: 100vh;
	/*background-color: grey;*/
}

header {
	padding: 40px 100px 15px;
	font-size: 50px;
	font-weight: bold;
	color: #885541;
}


/*photos*/

main {
	display: flex;
	/*background-color: pink;*/
	justify-content: space-between;
	border-top: 1px solid #885541;
	margin-left: 30px;
	/*flex-grow: 1;*/
	/*background-color: red;*/
	flex-direction: column;
}

#aroundMain {
	display: flex;
}

img {
	max-width: 266px;
	max-height: 400px;
}


#photoMain {
	/* top, right, bottom, left */
	padding: 40px 0px 0px 40px;
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: row-reverse;*/
	/*align-items: flex-start;*/
	/*justify-content: space-between;*/
	flex-grow: 1;
	/*background-color: pink;*/
}

.photoBox{
	width: 266px; /* HARD CODE */
	margin: 5px;
	overflow: hidden;
}

.photoBoxOptions {
	display: block;
	max-height: 400px;
	max-width: 300px;

	/*border-style: solid;*/
	/*border-width: 2px;*/
}

.photo {
	/*padding: 5px;*/
	/*display: block;*/
}

.wrapper {
	position: relative;
}

.closedOptions{
	display: inline-block;
	/*display: none;*/
	/* HARD CODE */
	position: absolute;
	bottom: 0px;
	left: 210px;
}

.openOptions {
	display: none;
	/*display: inline-block;*/
	width: 150px;
	border: 2px solid #5c3328;
	background-color: #885541;

	/* HARD CODE */
	position: absolute;
	bottom: 2px;
	left: 112px;
}

button.buttonOptions{
	background-color: transparent;
	color: #ffffff;
	border-color: transparent;
	border-bottom: #5c3328;
	border-style: solid;
	/*font-weight: 600;*/
	font-size: 16px;
	padding-bottom: 5px;
	width: 100%;
	text-align: left;
}

.burger{
	float: right;
}

.tagOptions {
	display: flex;
	flex-direction: column;
	/*background-color: skyblue;*/
	margin-top: 10px;
	/*border: 1px solid orange;*/
}

.labelTextBox {
	display: none;
	font-family: inherit;
	font-size: 18px;
	/*background-color: red;*/
	border: 2px solid #502f1f;
	border-top: 0px;
}

.tagContainer {
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #502f1f;
	padding: 4px;
	/*background-color: #ba9a8a;*/
	/*border-bottom: 0px;*/
}

.tags {
	display: flex;
	align-items: center;
	/*margin-right: 5px;*/
	margin: 4px 4px;
}

.spacer {
	width: 18px;
}

img.delIcon {
	display:none;
	width: 15px;
	float: left;
	clear: both;
	margin-right: 3px;
	/*opacity: 0;*/
}

p.tag {
	overflow: auto;
	display: block;
	font-size: 16px;
	line-height: normal;
}

#progressOuter {
 	border: 1px solid #885541;
}
#progress {
 	width: 20%;
 	background: #885541;
 	height: 20px;  
 }



/*sidebar*/

#sidebar {
	width: 250px;
	background-color: #885541;
	min-height: 90vh;
	/*position: absolute;*/
	/*bottom: 0px;*/
	/*right: 0px;*/
	/*top: 105px;*/
}

.openContainer {
	display: none;
	background-color: rgb(196, 173, 162);
	padding: 15px;
}

#upload {
	display: none;
	/*background-color: rgb(196, 173, 162);
	padding: 15px;*/
	color: #885541;
}

#filter {
	display: none;
	/*background-color: rgb(196, 173, 162);
	padding: 15px;*/
}



#fileSelector, #fileSelector-mobile {  /*Hide button*/
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


#fileSelector + label, #fileSelector-mobile + label {
  background-color: #885541;
	color: #ffffff;
	font-weight: 600;
	border: #5c3328 2px solid;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 18px;
}

#fileName, #fileName-mobile {
	padding: 25px 0 5px 3px;
}


button {
	font-family: inherit;
}

button.drop {
	display: flex;
	align-items: center;
	background-color: transparent;
	color: #ffffff;
	font-weight: 600;
	font-size: 25px;
	border: none;
	width: 250px;
}

/* plus button */
/*#plus {
	font-size: 30px;
	height: 50px;
	width: 50px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}*/

img.dropImg {
	height: 50px;
	width: 50px;
	padding-right: 10px;
}

.brownBtn {
	background-color: #885541;
	color: #ffffff;
	font-weight: 600;
	border-color: #5c3328;
	border-width: 2px;
	border-style: solid;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 18px;
}

.addButton{
	display: none;
	background-color: #885641;
	color: #ffffff;
	font-weight: 600;
	border-color: #502f1f;
	border-width: 2px;
	border-style: solid;
	padding: 5px 8px;
	margin-top: 5px;
}

.brownBtn3{
	background-color: #885541;
	color: #ffffff;
	font-weight: 600;
	border-color: #5c3328;
	border-width: 2px;
	border-style: solid;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px 10px;
}

#enterBtn {
	margin-right: 15px;
}

#mobileBox {
	display:none;
	text-align: center;
}

/* Mobile View */
@media screen and (max-width: 480px) {
	main {
		border-top: 0px;
	}
	#photoMain {
		padding-top: 20px;
	}
	#sidebar {
		display: none!important;
	}
	#mobileBox {
		display:block;
	}
}
