body {
	font-family: ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
	display: flex;
	min-height: 100vh;  /* need this line to tell body to fill viewport */
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: ivory;
}

button {
	font-size: large;
}

input[type="file"] {
  font-size: large;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

img {
	image-orientation: from-image;
  width: 700px;
}
